@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Playpen+Sans:wght@200;300;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #505343;
  font-family: "playpen sans";
}

img {
  z-index: 1;
}

ul {
  z-index: 40;
}

ul > li {
  list-style: none;
  line-height: 2.5em;
  font-size: 1.2em;
  opacity: 0.9;
  width: fit-content;
  font-weight: 400;
}

h2 {
  font-family: "Ms Madi";
  font-size: 3.25em;
  font-weight: 400;
}

body {
  background-color: #e2d9ca;
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.logo-container {
  width: 20em;
  height: 20em;
  bottom: 4.25em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.logo-image {
  object-fit: contain;
  position: absolute;
  top: 0;
  /* border: 1px solid black; */
}

.logo-container > img:nth-child(1) {
  width: 30em;
  left: auto;
  right: auto;
}

.logo-container > img:nth-child(2) {
  width: 22em;
  top: 4.7em;
}

.logo-container > img:nth-child(3) {
  width: 15em;
  top: 8em;
}

.logo-container > img:nth-child(4) {
  width: 8em;
  top: 12em;
  left: 6.5em;
}

.logo-container > p {
  font-family: "Ms Madi";
  font-size: 3.25em;
  font-weight: 500;
  text-align: center;
  line-height: 1.1em;
  position: absolute;
  top: 7.35em;
  rotate: -2.5deg;
  width: 6em;
  color: #505343;
}

.landing-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Page */

.page {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.page > p {
  max-width: 30em;
  text-align: center;
  font-size: 1.3em;
  font-family: "playpen sans";
  font-weight: 300;
  letter-spacing: 0.05em;
}

/* Testimonials */

.review-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 30em;
  height: 23em;
  /* border: 1px solid; */
  margin: 1em;
  padding: 1em;
}

.reviews > p:nth-child(1) {
  max-width: 22em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  text-wrap: pretty;
}

.reviews > p:nth-child(2) {
  text-align: right;
  margin: 1em;
  font-size: 1.25em;
}

.controls {
  font-size: 2em;
  margin: 1.5em 1.5em 3.5em 1.5em;
  opacity: 0.6;
  transition: opacity 300ms ease;
}

.controls:active {
  opacity: 1;
}

/* contact */

.contact > form {
  border: 1px solid;
  max-width: 35em;
}

.contact > form > .form-top {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.form-input > input {
  width: 15em;
  padding: 0.25em;
  font-size: 1em;
  text-align: center;
}

.form-input > input::placeholder {
  text-align: center;
  opacity: 0.6;
}
